.popup__input-error {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 48%;
  left: 0;
  width: 358px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  transition: visibility 0.3s, opacity 0.3s linear;
  max-width: 235px;
}

@media screen and (min-width: 1024px) {
  .popup__input-error {
    max-width: 100%;
  }
}
