.photo-grid__like {
  background-image: url(../../../image/like.svg);
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  border: none;
  margin: 5px 5px 1px 0;
  cursor: pointer;
  transition: .4s;
}

.photo-grid__like:hover {
  opacity: .5;
}

.photo-grid__like:active {
  background-image: url(../../../image/union.svg);
}
